.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-backdrop__bg {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--gov-backdrop-bg, var(--gov-color-secondary));
  opacity: var(--gov-backdrop-opacity, 0.45);
}
.gov-backdrop[inverse=""] .gov-backdrop__bg, .gov-backdrop[inverse=true i] .gov-backdrop__bg, .gov-backdrop[inverse="1"] .gov-backdrop__bg {
  background-color: var(--gov-backdrop-bg-inverse, var(--gov-color-neutral-white));
  opacity: var(--gov-backdrop-opacity, 0.8);
}