.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-tag .element {
  margin: 0;
  padding: 0;
  font-family: var(--gov-font-family, "Roboto", sans-serif);
  font-weight: 400;
  box-sizing: border-box;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: var(--gov-button-border-width, 0.0625rem) solid transparent;
  transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out, color 150ms ease-in-out;
  cursor: inherit;
  will-change: background-color, border-color;
}
.gov-tag .element:focus {
  outline: none;
}
.gov-tag .element .gov-icon {
  flex: 0 0 auto;
  color: inherit;
}
.gov-tag .element > * {
  display: flex;
}
[hoverable].gov-tag .element {
  cursor: pointer;
}
[hoverable].gov-tag .element:focus {
  outline: none;
}
[hoverable].gov-tag .element:focus-visible {
  border-radius: var(--gov-border-radius, 0.1875rem);
  outline: var(--gov-outline-width, 0.125rem) solid var(--gov-color-focus-base);
  outline-offset: 0.0625rem;
}
[hoverable][type=outlined].gov-tag .element:focus-visible, [hoverable][type=base].gov-tag .element:focus-visible {
  outline-offset: 0;
}
[hoverable][disabled=""].gov-tag, [hoverable][disabled=true i].gov-tag, [hoverable][disabled="1"].gov-tag {
  cursor: not-allowed;
}
[hoverable][disabled=""].gov-tag .element, [hoverable][disabled=true i].gov-tag .element, [hoverable][disabled="1"].gov-tag .element {
  pointer-events: none;
}
[expanded=""].gov-tag, [expanded=true i].gov-tag, [expanded="1"].gov-tag {
  display: block;
}
[expanded=""].gov-tag .element, [expanded=true i].gov-tag .element, [expanded="1"].gov-tag .element {
  display: flex;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
[type=solid][variant=primary].gov-tag .element {
  background-color: var(--gov-button-primary-solid-bg, var(--gov-color-primary));
  color: var(--gov-button-primary-solid-color, var(--gov-color-neutral-white));
}
[type=solid][variant=primary][inverse=""].gov-tag .element, [type=solid][variant=primary][inverse=true i].gov-tag .element, [type=solid][variant=primary][inverse="1"].gov-tag .element {
  color: var(--gov-button-primary-solid-inverse-color, var(--gov-color-primary));
  background-color: var(--gov-button-primary-solid-inverse-bg, var(--gov-color-primary-200));
}
[type=solid][variant=primary][inverse=""].gov-tag .element:focus-visible, [type=solid][variant=primary][inverse=true i].gov-tag .element:focus-visible, [type=solid][variant=primary][inverse="1"].gov-tag .element:focus-visible {
  background-color: var(--gov-button-primary-solid-inverse-focus-bg, var(--gov-color-neutral-white));
}
[type=solid][variant=primary][disabled=""].gov-tag .element, [type=solid][variant=primary][disabled=true i].gov-tag .element, [type=solid][variant=primary][disabled="1"].gov-tag .element {
  background-color: var(--gov-button-primary-solid-disabled-bg, var(--gov-color-primary-300));
  color: var(--gov-button-primary-solid-disabled-color, var(--gov-color-neutral-white));
}
[type=solid][variant=primary][disabled=""][inverse=""].gov-tag .element, [type=solid][variant=primary][disabled=""][inverse=true i].gov-tag .element, [type=solid][variant=primary][disabled=""][inverse="1"].gov-tag .element, [type=solid][variant=primary][disabled=true i][inverse=""].gov-tag .element, [type=solid][variant=primary][disabled=true i][inverse=true i].gov-tag .element, [type=solid][variant=primary][disabled=true i][inverse="1"].gov-tag .element, [type=solid][variant=primary][disabled="1"][inverse=""].gov-tag .element, [type=solid][variant=primary][disabled="1"][inverse=true i].gov-tag .element, [type=solid][variant=primary][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-primary-solid-inverse-disabled-bg, var(--gov-color-primary-300));
  color: var(--gov-button-primary-solid-inverse-disabled-color, var(--gov-color-primary-400));
}
@media not all and (pointer: coarse) {
  [type=solid][variant=primary][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-primary-solid-hover-bg, var(--gov-color-primary-700));
    color: var(--gov-button-primary-solid-hover-color, var(--gov-color-neutral-white));
  }
  [type=solid][variant=primary][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-primary-solid-active-bg, var(--gov-color-primary-800));
  }
}
@media not all and (pointer: coarse) {
  [type=solid][variant=primary][hoverable][inverse=""].gov-tag .element:hover, [type=solid][variant=primary][hoverable][inverse=true i].gov-tag .element:hover, [type=solid][variant=primary][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-primary-solid-inverse-hover-bg, var(--gov-color-primary-700));
    color: var(--gov-button-primary-solid-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=solid][variant=primary][hoverable][inverse=""].gov-tag .element:hover:active, [type=solid][variant=primary][hoverable][inverse=true i].gov-tag .element:hover:active, [type=solid][variant=primary][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-primary-solid-inverse-active-bg, var(--gov-color-primary-800));
  }
}
[type=outlined][variant=primary].gov-tag .element {
  color: var(--gov-button-primary-outlined-color, var(--gov-color-primary));
  border-color: var(--gov-button-primary-outlined-border, var(--gov-color-primary));
}
[type=outlined][variant=primary][inverse=""].gov-tag .element, [type=outlined][variant=primary][inverse=true i].gov-tag .element, [type=outlined][variant=primary][inverse="1"].gov-tag .element {
  color: var(--gov-button-primary-outlined-inverse-color, var(--gov-color-neutral-white));
  background-color: var(--gov-button-primary-outlined-inverse-bg, transparent);
  border-color: var(--gov-button-primary-outlined-inverse-border, var(--gov-color-neutral-white));
}
[type=outlined][variant=primary][inverse=""].gov-tag .element:focus-visible, [type=outlined][variant=primary][inverse=true i].gov-tag .element:focus-visible, [type=outlined][variant=primary][inverse="1"].gov-tag .element:focus-visible {
  background-color: var(--gov-button-primary-outlined-inverse-focus-bg, transparent);
}
[type=outlined][variant=primary][disabled=""].gov-tag .element, [type=outlined][variant=primary][disabled=true i].gov-tag .element, [type=outlined][variant=primary][disabled="1"].gov-tag .element {
  background-color: var(--gov-button-primary-outlined-disabled-bg, transparent);
  color: var(--gov-button-primary-outlined-disabled-color, var(--gov-color-primary-400));
  border-color: var(--gov-button-primary-outlined-disabled-border, var(--gov-color-primary-300));
}
[type=outlined][variant=primary][disabled=""][inverse=""].gov-tag .element, [type=outlined][variant=primary][disabled=""][inverse=true i].gov-tag .element, [type=outlined][variant=primary][disabled=""][inverse="1"].gov-tag .element, [type=outlined][variant=primary][disabled=true i][inverse=""].gov-tag .element, [type=outlined][variant=primary][disabled=true i][inverse=true i].gov-tag .element, [type=outlined][variant=primary][disabled=true i][inverse="1"].gov-tag .element, [type=outlined][variant=primary][disabled="1"][inverse=""].gov-tag .element, [type=outlined][variant=primary][disabled="1"][inverse=true i].gov-tag .element, [type=outlined][variant=primary][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-primary-outlined-inverse-disabled-bg, var(--gov-color-primary-300));
  color: var(--gov-button-primary-outlined-inverse-disabled-color, var(--gov-color-primary-400));
  border-color: var(--gov-button-primary-outlined-inverse-disabled-border-color, var(--gov-color-primary-400));
}
@media not all and (pointer: coarse) {
  [type=outlined][variant=primary][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-primary-outlined-hover-bg, var(--gov-color-primary-100));
    color: var(--gov-button-primary-outlined-hover-color, var(--gov-color-primary));
  }
  [type=outlined][variant=primary][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-primary-outlined-active-bg, var(--gov-color-primary-300));
  }
}
@media not all and (pointer: coarse) {
  [type=outlined][variant=primary][hoverable][inverse=""].gov-tag .element:hover, [type=outlined][variant=primary][hoverable][inverse=true i].gov-tag .element:hover, [type=outlined][variant=primary][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-primary-outlined-inverse-hover-bg, var(--gov-color-primary-500));
    color: var(--gov-button-primary-outlined-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=outlined][variant=primary][hoverable][inverse=""].gov-tag .element:hover:active, [type=outlined][variant=primary][hoverable][inverse=true i].gov-tag .element:hover:active, [type=outlined][variant=primary][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-primary-outlined-inverse-active-bg, var(--gov-color-primary-400));
  }
}
[type=base][variant=primary].gov-tag .element {
  color: var(--gov-button-primary-base-color, var(--gov-color-primary));
}
[type=base][variant=primary][inverse=""].gov-tag .element, [type=base][variant=primary][inverse=true i].gov-tag .element, [type=base][variant=primary][inverse="1"].gov-tag .element {
  color: var(--gov-button-primary-base-inverse-color, var(--gov-color-neutral-white));
  background-color: var(--gov-button-primary-base-inverse-bg, transparent);
}
[type=base][variant=primary][disabled=""].gov-tag .element, [type=base][variant=primary][disabled=true i].gov-tag .element, [type=base][variant=primary][disabled="1"].gov-tag .element {
  color: var(--gov-button-primary-base-disabled-color, var(--gov-color-primary-400));
}
[type=base][variant=primary][disabled=""][inverse=""].gov-tag .element, [type=base][variant=primary][disabled=""][inverse=true i].gov-tag .element, [type=base][variant=primary][disabled=""][inverse="1"].gov-tag .element, [type=base][variant=primary][disabled=true i][inverse=""].gov-tag .element, [type=base][variant=primary][disabled=true i][inverse=true i].gov-tag .element, [type=base][variant=primary][disabled=true i][inverse="1"].gov-tag .element, [type=base][variant=primary][disabled="1"][inverse=""].gov-tag .element, [type=base][variant=primary][disabled="1"][inverse=true i].gov-tag .element, [type=base][variant=primary][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-primary-base-inverse-disabled-bg, var(--gov-color-primary-300));
  color: var(--gov-button-primary-base-inverse-disabled-color, var(--gov-color-primary-400));
}
@media not all and (pointer: coarse) {
  [type=base][variant=primary][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-primary-base-hover-bg, var(--gov-color-primary-100));
    color: var(--gov-button-primary-base-hover-color, var(--gov-color-primary));
  }
  [type=base][variant=primary][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-primary-base-active-bg, var(--gov-color-primary-300));
  }
}
@media not all and (pointer: coarse) {
  [type=base][variant=primary][hoverable][inverse=""].gov-tag .element:hover, [type=base][variant=primary][hoverable][inverse=true i].gov-tag .element:hover, [type=base][variant=primary][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-primary-base-inverse-hover-bg, var(--gov-color-primary-500));
    color: var(--gov-button-primary-base-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=base][variant=primary][hoverable][inverse=""].gov-tag .element:hover:active, [type=base][variant=primary][hoverable][inverse=true i].gov-tag .element:hover:active, [type=base][variant=primary][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-primary-base-inverse-active-bg, var(--gov-color-primary-400));
    color: var(--gov-button-primary-base-inverse-active-color, var(--gov-color-neutral-white));
  }
}
[type=link][variant=primary].gov-tag .element {
  color: var(--gov-button-primary-link-color, var(--gov-color-primary));
}
[type=link][variant=primary][inverse=""].gov-tag .element, [type=link][variant=primary][inverse=true i].gov-tag .element, [type=link][variant=primary][inverse="1"].gov-tag .element {
  color: var(--gov-button-primary-link-inverse-color, var(--gov-color-neutral-white));
  background-color: var(--gov-button-primary-link-inverse-bg, transparent);
}
[type=link][variant=primary][disabled=""].gov-tag .element, [type=link][variant=primary][disabled=true i].gov-tag .element, [type=link][variant=primary][disabled="1"].gov-tag .element {
  color: var(--gov-button-primary-link-disabled-color, var(--gov-color-primary-400));
}
[type=link][variant=primary][disabled=""][inverse=""].gov-tag .element, [type=link][variant=primary][disabled=""][inverse=true i].gov-tag .element, [type=link][variant=primary][disabled=""][inverse="1"].gov-tag .element, [type=link][variant=primary][disabled=true i][inverse=""].gov-tag .element, [type=link][variant=primary][disabled=true i][inverse=true i].gov-tag .element, [type=link][variant=primary][disabled=true i][inverse="1"].gov-tag .element, [type=link][variant=primary][disabled="1"][inverse=""].gov-tag .element, [type=link][variant=primary][disabled="1"][inverse=true i].gov-tag .element, [type=link][variant=primary][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-primary-link-inverse-disabled-bg, transparent);
  color: var(--gov-button-primary-link-inverse-disabled-color, var(--gov-color-primary-400));
}
@media not all and (pointer: coarse) {
  [type=link][variant=primary][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-primary-link-hover-bg, transparent);
    color: var(--gov-button-primary-link-hover-color, var(--gov-color-primary));
  }
  [type=link][variant=primary][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-primary-link-active-bg, transparent);
    color: var(--gov-button-primary-link-active-color, var(--gov-color-primary-700));
  }
}
@media not all and (pointer: coarse) {
  [type=link][variant=primary][hoverable][inverse=""].gov-tag .element:hover, [type=link][variant=primary][hoverable][inverse=true i].gov-tag .element:hover, [type=link][variant=primary][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-primary-link-inverse-hover-bg, transparent);
    color: var(--gov-button-primary-link-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=link][variant=primary][hoverable][inverse=""].gov-tag .element:hover:active, [type=link][variant=primary][hoverable][inverse=true i].gov-tag .element:hover:active, [type=link][variant=primary][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-primary-link-inverse-active-bg, transparent);
    color: var(--gov-button-primary-link-inverse-active-color, var(--gov-color-primary-200));
  }
}
[type=solid][variant=secondary].gov-tag .element {
  background-color: var(--gov-button-secondary-solid-bg, var(--gov-color-secondary));
  color: var(--gov-button-secondary-solid-color, var(--gov-color-neutral-white));
}
[type=solid][variant=secondary][inverse=""].gov-tag .element, [type=solid][variant=secondary][inverse=true i].gov-tag .element, [type=solid][variant=secondary][inverse="1"].gov-tag .element {
  color: var(--gov-button-secondary-solid-inverse-color, var(--gov-color-secondary));
  background-color: var(--gov-button-secondary-solid-inverse-bg, var(--gov-color-neutral-white));
}
[type=solid][variant=secondary][inverse=""].gov-tag .element:focus-visible, [type=solid][variant=secondary][inverse=true i].gov-tag .element:focus-visible, [type=solid][variant=secondary][inverse="1"].gov-tag .element:focus-visible {
  background-color: var(--gov-button-secondary-solid-inverse-focus-bg, var(--gov-color-neutral-white));
}
[type=solid][variant=secondary][disabled=""].gov-tag .element, [type=solid][variant=secondary][disabled=true i].gov-tag .element, [type=solid][variant=secondary][disabled="1"].gov-tag .element {
  background-color: var(--gov-button-secondary-solid-disabled-bg, var(--gov-color-secondary-300));
  color: var(--gov-button-secondary-solid-disabled-color, var(--gov-color-secondary-600));
}
[type=solid][variant=secondary][disabled=""][inverse=""].gov-tag .element, [type=solid][variant=secondary][disabled=""][inverse=true i].gov-tag .element, [type=solid][variant=secondary][disabled=""][inverse="1"].gov-tag .element, [type=solid][variant=secondary][disabled=true i][inverse=""].gov-tag .element, [type=solid][variant=secondary][disabled=true i][inverse=true i].gov-tag .element, [type=solid][variant=secondary][disabled=true i][inverse="1"].gov-tag .element, [type=solid][variant=secondary][disabled="1"][inverse=""].gov-tag .element, [type=solid][variant=secondary][disabled="1"][inverse=true i].gov-tag .element, [type=solid][variant=secondary][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-secondary-solid-inverse-disabled-bg, var(--gov-color-neutral-white));
  color: var(--gov-button-secondary-solid-inverse-disabled-color, var(--gov-color-secondary-600));
}
@media not all and (pointer: coarse) {
  [type=solid][variant=secondary][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-secondary-solid-hover-bg, var(--gov-color-secondary-900));
    color: var(--gov-button-secondary-solid-hover-color, var(--gov-color-neutral-white));
  }
  [type=solid][variant=secondary][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-secondary-solid-active-bg, var(--gov-color-secondary));
  }
}
@media not all and (pointer: coarse) {
  [type=solid][variant=secondary][hoverable][inverse=""].gov-tag .element:hover, [type=solid][variant=secondary][hoverable][inverse=true i].gov-tag .element:hover, [type=solid][variant=secondary][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-secondary-solid-inverse-hover-bg, var(--gov-color-secondary-600));
    color: var(--gov-button-secondary-solid-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=solid][variant=secondary][hoverable][inverse=""].gov-tag .element:hover:active, [type=solid][variant=secondary][hoverable][inverse=true i].gov-tag .element:hover:active, [type=solid][variant=secondary][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-secondary-solid-inverse-active-bg, var(--gov-color-secondary-700));
    color: var(--gov-button-secondary-solid-inverse-active-color, var(--gov-color-neutral-white));
  }
}
[type=outlined][variant=secondary].gov-tag .element {
  color: var(--gov-button-secondary-outlined-color, var(--gov-color-secondary));
  border-color: var(--gov-button-secondary-outlined-border, var(--gov-color-secondary));
}
[type=outlined][variant=secondary][inverse=""].gov-tag .element, [type=outlined][variant=secondary][inverse=true i].gov-tag .element, [type=outlined][variant=secondary][inverse="1"].gov-tag .element {
  color: var(--gov-button-secondary-outlined-inverse-color, var(--gov-color-neutral-white));
  background-color: var(--gov-button-secondary-outlined-inverse-bg, transparent);
  border-color: var(--gov-button-secondary-outlined-inverse-border, var(--gov-color-neutral-white));
}
[type=outlined][variant=secondary][inverse=""].gov-tag .element:focus-visible, [type=outlined][variant=secondary][inverse=true i].gov-tag .element:focus-visible, [type=outlined][variant=secondary][inverse="1"].gov-tag .element:focus-visible {
  background-color: var(--gov-button-secondary-outlined-inverse-focus-bg, transparent);
}
[type=outlined][variant=secondary][disabled=""].gov-tag .element, [type=outlined][variant=secondary][disabled=true i].gov-tag .element, [type=outlined][variant=secondary][disabled="1"].gov-tag .element {
  background-color: var(--gov-button-secondary-outlined-disabled-bg, transparent);
  color: var(--gov-button-secondary-outlined-disabled-color, var(--gov-color-secondary-500));
  border-color: var(--gov-button-secondary-outlined-disabled-border, var(--gov-color-secondary-500));
}
[type=outlined][variant=secondary][disabled=""][inverse=""].gov-tag .element, [type=outlined][variant=secondary][disabled=""][inverse=true i].gov-tag .element, [type=outlined][variant=secondary][disabled=""][inverse="1"].gov-tag .element, [type=outlined][variant=secondary][disabled=true i][inverse=""].gov-tag .element, [type=outlined][variant=secondary][disabled=true i][inverse=true i].gov-tag .element, [type=outlined][variant=secondary][disabled=true i][inverse="1"].gov-tag .element, [type=outlined][variant=secondary][disabled="1"][inverse=""].gov-tag .element, [type=outlined][variant=secondary][disabled="1"][inverse=true i].gov-tag .element, [type=outlined][variant=secondary][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-secondary-outlined-inverse-disabled-bg, var(--gov-color-secondary-700));
  color: var(--gov-button-secondary-outlined-inverse-disabled-color, var(--gov-color-secondary-600));
  border-color: var(--gov-button-secondary-outlined-inverse-disabled-border-color, var(--gov-color-secondary-600));
}
@media not all and (pointer: coarse) {
  [type=outlined][variant=secondary][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-secondary-outlined-hover-bg, var(--gov-color-secondary-300));
    color: var(--gov-button-secondary-outlined-hover-color, var(--gov-color-secondary));
  }
  [type=outlined][variant=secondary][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-secondary-outlined-active-bg, var(--gov-color-secondary-400));
  }
}
@media not all and (pointer: coarse) {
  [type=outlined][variant=secondary][hoverable][inverse=""].gov-tag .element:hover, [type=outlined][variant=secondary][hoverable][inverse=true i].gov-tag .element:hover, [type=outlined][variant=secondary][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-secondary-outlined-inverse-hover-bg, var(--gov-color-secondary-700));
    color: var(--gov-button-secondary-outlined-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=outlined][variant=secondary][hoverable][inverse=""].gov-tag .element:hover:active, [type=outlined][variant=secondary][hoverable][inverse=true i].gov-tag .element:hover:active, [type=outlined][variant=secondary][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-secondary-outlined-inverse-active-bg, var(--gov-color-secondary-600));
    color: var(--gov-button-secondary-outlined-inverse-active-color, var(--gov-color-secondary));
  }
}
[type=base][variant=secondary].gov-tag .element {
  color: var(--gov-button-secondary-base-color, var(--gov-color-secondary));
}
[type=base][variant=secondary][inverse=""].gov-tag .element, [type=base][variant=secondary][inverse=true i].gov-tag .element, [type=base][variant=secondary][inverse="1"].gov-tag .element {
  color: var(--gov-button-secondary-base-inverse-color, var(--gov-color-neutral-white));
  background-color: var(--gov-button-secondary-base-inverse-bg, transparent);
}
[type=base][variant=secondary][disabled=""].gov-tag .element, [type=base][variant=secondary][disabled=true i].gov-tag .element, [type=base][variant=secondary][disabled="1"].gov-tag .element {
  color: var(--gov-button-secondary-base-disabled-color, var(--gov-color-secondary-600));
}
[type=base][variant=secondary][disabled=""][inverse=""].gov-tag .element, [type=base][variant=secondary][disabled=""][inverse=true i].gov-tag .element, [type=base][variant=secondary][disabled=""][inverse="1"].gov-tag .element, [type=base][variant=secondary][disabled=true i][inverse=""].gov-tag .element, [type=base][variant=secondary][disabled=true i][inverse=true i].gov-tag .element, [type=base][variant=secondary][disabled=true i][inverse="1"].gov-tag .element, [type=base][variant=secondary][disabled="1"][inverse=""].gov-tag .element, [type=base][variant=secondary][disabled="1"][inverse=true i].gov-tag .element, [type=base][variant=secondary][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-secondary-base-inverse-disabled-bg, var(--gov-color-secondary-700));
  color: var(--gov-button-secondary-base-inverse-disabled-color, var(--gov-color-secondary-600));
}
@media not all and (pointer: coarse) {
  [type=base][variant=secondary][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-secondary-base-hover-bg, var(--gov-color-secondary-300));
    color: var(--gov-button-secondary-base-hover-color, var(--gov-color-secondary));
  }
  [type=base][variant=secondary][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-secondary-base-active-bg, var(--gov-color-secondary-400));
  }
}
@media not all and (pointer: coarse) {
  [type=base][variant=secondary][hoverable][inverse=""].gov-tag .element:hover, [type=base][variant=secondary][hoverable][inverse=true i].gov-tag .element:hover, [type=base][variant=secondary][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-secondary-base-inverse-hover-bg, var(--gov-color-secondary-700));
    color: var(--gov-button-secondary-base-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=base][variant=secondary][hoverable][inverse=""].gov-tag .element:hover:active, [type=base][variant=secondary][hoverable][inverse=true i].gov-tag .element:hover:active, [type=base][variant=secondary][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-secondary-base-inverse-active-bg, var(--gov-color-secondary-600));
    color: var(--gov-button-secondary-base-inverse-active-color, var(--gov-color-secondary));
  }
}
[type=link][variant=secondary].gov-tag .element {
  color: var(--gov-button-secondary-link-color, var(--gov-color-secondary));
}
[type=link][variant=secondary][inverse=""].gov-tag .element, [type=link][variant=secondary][inverse=true i].gov-tag .element, [type=link][variant=secondary][inverse="1"].gov-tag .element {
  color: var(--gov-button-secondary-link-inverse-color, var(--gov-color-neutral-white));
  background-color: var(--gov-button-secondary-link-inverse-bg, transparent);
}
[type=link][variant=secondary][disabled=""].gov-tag .element, [type=link][variant=secondary][disabled=true i].gov-tag .element, [type=link][variant=secondary][disabled="1"].gov-tag .element {
  color: var(--gov-button-secondary-link-disabled-color, var(--gov-color-secondary-600));
}
[type=link][variant=secondary][disabled=""][inverse=""].gov-tag .element, [type=link][variant=secondary][disabled=""][inverse=true i].gov-tag .element, [type=link][variant=secondary][disabled=""][inverse="1"].gov-tag .element, [type=link][variant=secondary][disabled=true i][inverse=""].gov-tag .element, [type=link][variant=secondary][disabled=true i][inverse=true i].gov-tag .element, [type=link][variant=secondary][disabled=true i][inverse="1"].gov-tag .element, [type=link][variant=secondary][disabled="1"][inverse=""].gov-tag .element, [type=link][variant=secondary][disabled="1"][inverse=true i].gov-tag .element, [type=link][variant=secondary][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-secondary-link-inverse-disabled-bg, transparent);
  color: var(--gov-button-secondary-link-inverse-disabled-color, var(--gov-color-secondary-600));
}
@media not all and (pointer: coarse) {
  [type=link][variant=secondary][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-secondary-link-hover-bg, transparent);
    color: var(--gov-button-secondary-link-hover-color, var(--gov-color-secondary));
  }
  [type=link][variant=secondary][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-secondary-link-active-bg, transparent);
    color: var(--gov-button-primary-link-active-color, var(--gov-color-secondary));
  }
}
@media not all and (pointer: coarse) {
  [type=link][variant=secondary][hoverable][inverse=""].gov-tag .element:hover, [type=link][variant=secondary][hoverable][inverse=true i].gov-tag .element:hover, [type=link][variant=secondary][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-secondary-link-inverse-hover-bg, transparent);
    color: var(--gov-button-secondary-link-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=link][variant=secondary][hoverable][inverse=""].gov-tag .element:hover:active, [type=link][variant=secondary][hoverable][inverse=true i].gov-tag .element:hover:active, [type=link][variant=secondary][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-secondary-link-inverse-active-bg, transparent);
    color: var(--gov-button-secondary-link-inverse-active-color, var(--gov-color-secondary-500));
  }
}
[type=solid][variant=error].gov-tag .element {
  background-color: var(--gov-button-error-solid-bg, var(--gov-color-error));
  color: var(--gov-button-error-solid-color, var(--gov-color-neutral-white));
}
[type=solid][variant=error][inverse=""].gov-tag .element, [type=solid][variant=error][inverse=true i].gov-tag .element, [type=solid][variant=error][inverse="1"].gov-tag .element {
  color: var(--gov-button-error-solid-inverse-color, var(--gov-color-error));
  background-color: var(--gov-button-error-solid-inverse-bg, var(--gov-color-error-200));
}
[type=solid][variant=error][inverse=""].gov-tag .element:focus-visible, [type=solid][variant=error][inverse=true i].gov-tag .element:focus-visible, [type=solid][variant=error][inverse="1"].gov-tag .element:focus-visible {
  background-color: var(--gov-button-error-solid-inverse-focus-bg, var(--gov-color-neutral-white));
}
[type=solid][variant=error][disabled=""].gov-tag .element, [type=solid][variant=error][disabled=true i].gov-tag .element, [type=solid][variant=error][disabled="1"].gov-tag .element {
  background-color: var(--gov-button-error-solid-disabled-bg, var(--gov-color-error-200));
  color: var(--gov-button-error-solid-disabled-color, var(--gov-color-neutral-white));
}
[type=solid][variant=error][disabled=""][inverse=""].gov-tag .element, [type=solid][variant=error][disabled=""][inverse=true i].gov-tag .element, [type=solid][variant=error][disabled=""][inverse="1"].gov-tag .element, [type=solid][variant=error][disabled=true i][inverse=""].gov-tag .element, [type=solid][variant=error][disabled=true i][inverse=true i].gov-tag .element, [type=solid][variant=error][disabled=true i][inverse="1"].gov-tag .element, [type=solid][variant=error][disabled="1"][inverse=""].gov-tag .element, [type=solid][variant=error][disabled="1"][inverse=true i].gov-tag .element, [type=solid][variant=error][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-error-solid-inverse-disabled-bg, var(--gov-color-error-300));
  color: var(--gov-button-error-solid-inverse-disabled-color, var(--gov-color-error-400));
}
@media not all and (pointer: coarse) {
  [type=solid][variant=error][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-error-solid-hover-bg, var(--gov-color-error-500));
    color: var(--gov-button-error-solid-hover-color, var(--gov-color-neutral-white));
  }
  [type=solid][variant=error][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-error-solid-active-bg, var(--gov-color-error-600));
  }
}
@media not all and (pointer: coarse) {
  [type=solid][variant=error][hoverable][inverse=""].gov-tag .element:hover, [type=solid][variant=error][hoverable][inverse=true i].gov-tag .element:hover, [type=solid][variant=error][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-error-solid-inverse-hover-bg, var(--gov-color-error-500));
    color: var(--gov-button-error-solid-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=solid][variant=error][hoverable][inverse=""].gov-tag .element:hover:active, [type=solid][variant=error][hoverable][inverse=true i].gov-tag .element:hover:active, [type=solid][variant=error][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-error-solid-inverse-active-bg, var(--gov-color-error-600));
  }
}
[type=outlined][variant=error].gov-tag .element {
  color: var(--gov-button-error-outlined-color, var(--gov-color-error));
  border-color: var(--gov-button-error-outlined-border, var(--gov-color-error));
}
[type=outlined][variant=error][inverse=""].gov-tag .element, [type=outlined][variant=error][inverse=true i].gov-tag .element, [type=outlined][variant=error][inverse="1"].gov-tag .element {
  color: var(--gov-button-error-outlined-inverse-color, var(--gov-color-neutral-white));
  background-color: var(--gov-button-error-outlined-inverse-bg, transparent);
  border-color: var(--gov-button-error-outlined-inverse-border, var(--gov-color-neutral-white));
}
[type=outlined][variant=error][inverse=""].gov-tag .element:focus-visible, [type=outlined][variant=error][inverse=true i].gov-tag .element:focus-visible, [type=outlined][variant=error][inverse="1"].gov-tag .element:focus-visible {
  background-color: var(--gov-button-error-outlined-inverse-focus-bg, transparent);
}
[type=outlined][variant=error][disabled=""].gov-tag .element, [type=outlined][variant=error][disabled=true i].gov-tag .element, [type=outlined][variant=error][disabled="1"].gov-tag .element {
  background-color: var(--gov-button-error-outlined-disabled-bg, transparent);
  color: var(--gov-button-error-outlined-disabled-color, var(--gov-color-error-200));
  border-color: var(--gov-button-error-outlined-disabled-border, var(--gov-color-error-200));
}
[type=outlined][variant=error][disabled=""][inverse=""].gov-tag .element, [type=outlined][variant=error][disabled=""][inverse=true i].gov-tag .element, [type=outlined][variant=error][disabled=""][inverse="1"].gov-tag .element, [type=outlined][variant=error][disabled=true i][inverse=""].gov-tag .element, [type=outlined][variant=error][disabled=true i][inverse=true i].gov-tag .element, [type=outlined][variant=error][disabled=true i][inverse="1"].gov-tag .element, [type=outlined][variant=error][disabled="1"][inverse=""].gov-tag .element, [type=outlined][variant=error][disabled="1"][inverse=true i].gov-tag .element, [type=outlined][variant=error][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-error-outlined-inverse-disabled-bg, var(--gov-color-error-300));
  color: var(--gov-button-error-outlined-inverse-disabled-color, var(--gov-color-error-400));
  border-color: var(--gov-button-error-outlined-inverse-disabled-border-color, var(--gov-color-error-400));
}
@media not all and (pointer: coarse) {
  [type=outlined][variant=error][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-error-outlined-hover-bg, var(--gov-color-error-100));
    color: var(--gov-button-error-outlined-hover-color, var(--gov-color-error));
  }
  [type=outlined][variant=error][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-error-outlined-active-bg, var(--gov-color-error-200));
  }
}
@media not all and (pointer: coarse) {
  [type=outlined][variant=error][hoverable][inverse=""].gov-tag .element:hover, [type=outlined][variant=error][hoverable][inverse=true i].gov-tag .element:hover, [type=outlined][variant=error][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-error-outlined-inverse-hover-bg, var(--gov-color-error-500));
    color: var(--gov-button-error-outlined-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=outlined][variant=error][hoverable][inverse=""].gov-tag .element:hover:active, [type=outlined][variant=error][hoverable][inverse=true i].gov-tag .element:hover:active, [type=outlined][variant=error][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-error-outlined-inverse-active-bg, var(--gov-color-error-400));
  }
}
[type=base][variant=error].gov-tag .element {
  color: var(--gov-button-error-base-color, var(--gov-color-error));
}
[type=base][variant=error][inverse=""].gov-tag .element, [type=base][variant=error][inverse=true i].gov-tag .element, [type=base][variant=error][inverse="1"].gov-tag .element {
  color: var(--gov-button-error-base-inverse-color, var(--gov-color-neutral-white));
  background-color: var(--gov-button-error-base-inverse-bg, transparent);
}
[type=base][variant=error][disabled=""].gov-tag .element, [type=base][variant=error][disabled=true i].gov-tag .element, [type=base][variant=error][disabled="1"].gov-tag .element {
  color: var(--gov-button-error-base-disabled-color, var(--gov-color-error-200));
}
[type=base][variant=error][disabled=""][inverse=""].gov-tag .element, [type=base][variant=error][disabled=""][inverse=true i].gov-tag .element, [type=base][variant=error][disabled=""][inverse="1"].gov-tag .element, [type=base][variant=error][disabled=true i][inverse=""].gov-tag .element, [type=base][variant=error][disabled=true i][inverse=true i].gov-tag .element, [type=base][variant=error][disabled=true i][inverse="1"].gov-tag .element, [type=base][variant=error][disabled="1"][inverse=""].gov-tag .element, [type=base][variant=error][disabled="1"][inverse=true i].gov-tag .element, [type=base][variant=error][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-error-base-inverse-disabled-bg, var(--gov-color-error-300));
  color: var(--gov-button-error-base-inverse-disabled-color, var(--gov-color-error-400));
}
@media not all and (pointer: coarse) {
  [type=base][variant=error][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-error-base-hover-bg, var(--gov-color-error-100));
    color: var(--gov-button-error-base-hover-color, var(--gov-color-error));
  }
  [type=base][variant=error][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-error-base-active-bg, var(--gov-color-error-200));
  }
}
@media not all and (pointer: coarse) {
  [type=base][variant=error][hoverable][inverse=""].gov-tag .element:hover, [type=base][variant=error][hoverable][inverse=true i].gov-tag .element:hover, [type=base][variant=error][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-error-base-inverse-hover-bg, var(--gov-color-error-500));
    color: var(--gov-button-error-base-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=base][variant=error][hoverable][inverse=""].gov-tag .element:hover:active, [type=base][variant=error][hoverable][inverse=true i].gov-tag .element:hover:active, [type=base][variant=error][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-error-base-inverse-active-bg, var(--gov-color-error-400));
    color: var(--gov-button-error-base-inverse-active-color, var(--gov-color-neutral-white));
  }
}
[type=link][variant=error].gov-tag .element {
  color: var(--gov-button-error-link-color, var(--gov-color-error));
}
[type=link][variant=error][inverse=""].gov-tag .element, [type=link][variant=error][inverse=true i].gov-tag .element, [type=link][variant=error][inverse="1"].gov-tag .element {
  color: var(--gov-button-error-link-inverse-color, var(--gov-color-neutral-white));
  background-color: var(--gov-button-error-link-inverse-bg, transparent);
}
[type=link][variant=error][disabled=""].gov-tag .element, [type=link][variant=error][disabled=true i].gov-tag .element, [type=link][variant=error][disabled="1"].gov-tag .element {
  color: var(--gov-button-error-link-disabled-color, var(--gov-color-error-200));
}
[type=link][variant=error][disabled=""][inverse=""].gov-tag .element, [type=link][variant=error][disabled=""][inverse=true i].gov-tag .element, [type=link][variant=error][disabled=""][inverse="1"].gov-tag .element, [type=link][variant=error][disabled=true i][inverse=""].gov-tag .element, [type=link][variant=error][disabled=true i][inverse=true i].gov-tag .element, [type=link][variant=error][disabled=true i][inverse="1"].gov-tag .element, [type=link][variant=error][disabled="1"][inverse=""].gov-tag .element, [type=link][variant=error][disabled="1"][inverse=true i].gov-tag .element, [type=link][variant=error][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-error-link-inverse-disabled-bg, transparent);
  color: var(--gov-button-error-link-inverse-disabled-color, var(--gov-color-error-200));
}
@media not all and (pointer: coarse) {
  [type=link][variant=error][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-error-link-hover-bg, transparent);
    color: var(--gov-button-error-link-hover-color, var(--gov-color-error));
  }
  [type=link][variant=error][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-error-link-active-bg, transparent);
    color: var(--gov-button-primary-link-active-color, var(--gov-color-error-500));
  }
}
@media not all and (pointer: coarse) {
  [type=link][variant=error][hoverable][inverse=""].gov-tag .element:hover, [type=link][variant=error][hoverable][inverse=true i].gov-tag .element:hover, [type=link][variant=error][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-error-link-inverse-hover-bg, transparent);
    color: var(--gov-button-error-link-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=link][variant=error][hoverable][inverse=""].gov-tag .element:hover:active, [type=link][variant=error][hoverable][inverse=true i].gov-tag .element:hover:active, [type=link][variant=error][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-error-link-inverse-active-bg, transparent);
    color: var(--gov-button-error-link-inverse-active-color, var(--gov-color-neutral-white));
  }
}
[type=solid][variant=success].gov-tag .element {
  background-color: var(--gov-button-success-solid-bg, var(--gov-color-success-500));
  color: var(--gov-button-success-solid-color, var(--gov-color-neutral-white));
}
[type=solid][variant=success][inverse=""].gov-tag .element, [type=solid][variant=success][inverse=true i].gov-tag .element, [type=solid][variant=success][inverse="1"].gov-tag .element {
  color: var(--gov-button-success-solid-inverse-color, var(--gov-color-success));
  background-color: var(--gov-button-success-solid-inverse-bg, var(--gov-color-success-200));
}
[type=solid][variant=success][inverse=""].gov-tag .element:focus-visible, [type=solid][variant=success][inverse=true i].gov-tag .element:focus-visible, [type=solid][variant=success][inverse="1"].gov-tag .element:focus-visible {
  background-color: var(--gov-button-success-solid-inverse-focus-bg, var(--gov-color-neutral-white));
}
[type=solid][variant=success][disabled=""].gov-tag .element, [type=solid][variant=success][disabled=true i].gov-tag .element, [type=solid][variant=success][disabled="1"].gov-tag .element {
  background-color: var(--gov-button-success-solid-disabled-bg, var(--gov-color-success-200));
  color: var(--gov-button-success-solid-disabled-color, var(--gov-color-neutral-white));
}
[type=solid][variant=success][disabled=""][inverse=""].gov-tag .element, [type=solid][variant=success][disabled=""][inverse=true i].gov-tag .element, [type=solid][variant=success][disabled=""][inverse="1"].gov-tag .element, [type=solid][variant=success][disabled=true i][inverse=""].gov-tag .element, [type=solid][variant=success][disabled=true i][inverse=true i].gov-tag .element, [type=solid][variant=success][disabled=true i][inverse="1"].gov-tag .element, [type=solid][variant=success][disabled="1"][inverse=""].gov-tag .element, [type=solid][variant=success][disabled="1"][inverse=true i].gov-tag .element, [type=solid][variant=success][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-success-solid-inverse-disabled-bg, var(--gov-color-success-300));
  color: var(--gov-button-success-solid-inverse-disabled-color, var(--gov-color-success-400));
}
@media not all and (pointer: coarse) {
  [type=solid][variant=success][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-success-solid-hover-bg, var(--gov-color-success-600));
    color: var(--gov-button-success-solid-hover-color, var(--gov-color-neutral-white));
  }
  [type=solid][variant=success][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-success-solid-active-bg, var(--gov-color-success-700));
  }
}
@media not all and (pointer: coarse) {
  [type=solid][variant=success][hoverable][inverse=""].gov-tag .element:hover, [type=solid][variant=success][hoverable][inverse=true i].gov-tag .element:hover, [type=solid][variant=success][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-success-solid-inverse-hover-bg, var(--gov-color-success-700));
    color: var(--gov-button-success-solid-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=solid][variant=success][hoverable][inverse=""].gov-tag .element:hover:active, [type=solid][variant=success][hoverable][inverse=true i].gov-tag .element:hover:active, [type=solid][variant=success][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-success-solid-inverse-active-bg, var(--gov-color-success-800));
  }
}
[type=outlined][variant=success].gov-tag .element {
  color: var(--gov-button-success-outlined-color, var(--gov-color-success-500));
  border-color: var(--gov-button-success-outlined-border, var(--gov-color-success-500));
}
[type=outlined][variant=success][inverse=""].gov-tag .element, [type=outlined][variant=success][inverse=true i].gov-tag .element, [type=outlined][variant=success][inverse="1"].gov-tag .element {
  color: var(--gov-button-success-outlined-inverse-color, var(--gov-color-neutral-white));
  background-color: var(--gov-button-success-outlined-inverse-bg, transparent);
  border-color: var(--gov-button-success-outlined-inverse-border, var(--gov-color-neutral-white));
}
[type=outlined][variant=success][inverse=""].gov-tag .element:focus-visible, [type=outlined][variant=success][inverse=true i].gov-tag .element:focus-visible, [type=outlined][variant=success][inverse="1"].gov-tag .element:focus-visible {
  background-color: var(--gov-button-success-outlined-inverse-focus-bg, transparent);
}
[type=outlined][variant=success][disabled=""].gov-tag .element, [type=outlined][variant=success][disabled=true i].gov-tag .element, [type=outlined][variant=success][disabled="1"].gov-tag .element {
  background-color: var(--gov-button-success-outlined-disabled-bg, transparent);
  color: var(--gov-button-success-outlined-disabled-color, var(--gov-color-success-300));
  border-color: var(--gov-button-success-outlined-disabled-border, var(--gov-color-success-300));
}
[type=outlined][variant=success][disabled=""][inverse=""].gov-tag .element, [type=outlined][variant=success][disabled=""][inverse=true i].gov-tag .element, [type=outlined][variant=success][disabled=""][inverse="1"].gov-tag .element, [type=outlined][variant=success][disabled=true i][inverse=""].gov-tag .element, [type=outlined][variant=success][disabled=true i][inverse=true i].gov-tag .element, [type=outlined][variant=success][disabled=true i][inverse="1"].gov-tag .element, [type=outlined][variant=success][disabled="1"][inverse=""].gov-tag .element, [type=outlined][variant=success][disabled="1"][inverse=true i].gov-tag .element, [type=outlined][variant=success][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-success-outlined-inverse-disabled-bg, var(--gov-color-success-300));
  color: var(--gov-button-success-outlined-inverse-disabled-color, var(--gov-color-success-400));
  border-color: var(--gov-button-success-outlined-inverse-disabled-border-color, var(--gov-color-success-400));
}
@media not all and (pointer: coarse) {
  [type=outlined][variant=success][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-success-outlined-hover-bg, var(--gov-color-success-100));
    color: var(--gov-button-success-outlined-hover-color, var(--gov-color-success-500));
  }
  [type=outlined][variant=success][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-success-outlined-active-bg, var(--gov-color-success-200));
  }
}
@media not all and (pointer: coarse) {
  [type=outlined][variant=success][hoverable][inverse=""].gov-tag .element:hover, [type=outlined][variant=success][hoverable][inverse=true i].gov-tag .element:hover, [type=outlined][variant=success][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-success-outlined-inverse-hover-bg, var(--gov-color-success-500));
    color: var(--gov-button-success-outlined-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=outlined][variant=success][hoverable][inverse=""].gov-tag .element:hover:active, [type=outlined][variant=success][hoverable][inverse=true i].gov-tag .element:hover:active, [type=outlined][variant=success][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-success-outlined-inverse-active-bg, var(--gov-color-success-400));
  }
}
[type=base][variant=success].gov-tag .element {
  color: var(--gov-button-success-base-color, var(--gov-color-success-500));
}
[type=base][variant=success][inverse=""].gov-tag .element, [type=base][variant=success][inverse=true i].gov-tag .element, [type=base][variant=success][inverse="1"].gov-tag .element {
  color: var(--gov-button-success-base-inverse-color, var(--gov-color-neutral-white));
  background-color: var(--gov-button-success-base-inverse-bg, transparent);
}
[type=base][variant=success][disabled=""].gov-tag .element, [type=base][variant=success][disabled=true i].gov-tag .element, [type=base][variant=success][disabled="1"].gov-tag .element {
  color: var(--gov-button-success-base-disabled-color, var(--gov-color-success-300));
}
[type=base][variant=success][disabled=""][inverse=""].gov-tag .element, [type=base][variant=success][disabled=""][inverse=true i].gov-tag .element, [type=base][variant=success][disabled=""][inverse="1"].gov-tag .element, [type=base][variant=success][disabled=true i][inverse=""].gov-tag .element, [type=base][variant=success][disabled=true i][inverse=true i].gov-tag .element, [type=base][variant=success][disabled=true i][inverse="1"].gov-tag .element, [type=base][variant=success][disabled="1"][inverse=""].gov-tag .element, [type=base][variant=success][disabled="1"][inverse=true i].gov-tag .element, [type=base][variant=success][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-success-base-inverse-disabled-bg, var(--gov-color-success-300));
  color: var(--gov-button-success-base-inverse-disabled-color, var(--gov-color-success-400));
}
@media not all and (pointer: coarse) {
  [type=base][variant=success][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-success-base-hover-bg, var(--gov-color-success-100));
    color: var(--gov-button-success-base-hover-color, var(--gov-color-success-500));
  }
  [type=base][variant=success][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-success-base-active-bg, var(--gov-color-success-200));
  }
}
@media not all and (pointer: coarse) {
  [type=base][variant=success][hoverable][inverse=""].gov-tag .element:hover, [type=base][variant=success][hoverable][inverse=true i].gov-tag .element:hover, [type=base][variant=success][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-success-base-inverse-hover-bg, var(--gov-color-success-600));
    color: var(--gov-button-success-base-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=base][variant=success][hoverable][inverse=""].gov-tag .element:hover:active, [type=base][variant=success][hoverable][inverse=true i].gov-tag .element:hover:active, [type=base][variant=success][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-success-base-inverse-active-bg, var(--gov-color-success-500));
    color: var(--gov-button-success-base-inverse-active-color, var(--gov-color-neutral-white));
  }
}
[type=link][variant=success].gov-tag .element {
  color: var(--gov-button-success-link-color, var(--gov-color-success-500));
}
[type=link][variant=success][inverse=""].gov-tag .element, [type=link][variant=success][inverse=true i].gov-tag .element, [type=link][variant=success][inverse="1"].gov-tag .element {
  color: var(--gov-button-success-link-inverse-color, var(--gov-color-neutral-white));
  background-color: var(--gov-button-success-link-inverse-bg, transparent);
}
[type=link][variant=success][disabled=""].gov-tag .element, [type=link][variant=success][disabled=true i].gov-tag .element, [type=link][variant=success][disabled="1"].gov-tag .element {
  color: var(--gov-button-success-link-disabled-color, var(--gov-color-success-300));
}
[type=link][variant=success][disabled=""][inverse=""].gov-tag .element, [type=link][variant=success][disabled=""][inverse=true i].gov-tag .element, [type=link][variant=success][disabled=""][inverse="1"].gov-tag .element, [type=link][variant=success][disabled=true i][inverse=""].gov-tag .element, [type=link][variant=success][disabled=true i][inverse=true i].gov-tag .element, [type=link][variant=success][disabled=true i][inverse="1"].gov-tag .element, [type=link][variant=success][disabled="1"][inverse=""].gov-tag .element, [type=link][variant=success][disabled="1"][inverse=true i].gov-tag .element, [type=link][variant=success][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-success-link-inverse-disabled-bg, transparent);
  color: var(--gov-button-success-link-inverse-disabled-color, var(--gov-color-success-400));
}
@media not all and (pointer: coarse) {
  [type=link][variant=success][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-success-link-hover-bg, transparent);
    color: var(--gov-button-success-link-hover-color, var(--gov-color-success-500));
  }
  [type=link][variant=success][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-success-link-active-bg, transparent);
    color: var(--gov-button-primary-link-active-color, var(--gov-color-success-600));
  }
}
@media not all and (pointer: coarse) {
  [type=link][variant=success][hoverable][inverse=""].gov-tag .element:hover, [type=link][variant=success][hoverable][inverse=true i].gov-tag .element:hover, [type=link][variant=success][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-success-link-inverse-hover-bg, transparent);
    color: var(--gov-button-success-link-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=link][variant=success][hoverable][inverse=""].gov-tag .element:hover:active, [type=link][variant=success][hoverable][inverse=true i].gov-tag .element:hover:active, [type=link][variant=success][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-success-link-inverse-active-bg, transparent);
    color: var(--gov-button-success-link-inverse-active-color, var(--gov-color-neutral-white));
  }
}
[type=solid][variant=warning].gov-tag .element {
  background-color: var(--gov-button-warning-solid-bg, var(--gov-color-warning-500));
  color: var(--gov-button-warning-solid-color, var(--gov-color-neutral-white));
}
[type=solid][variant=warning][inverse=""].gov-tag .element, [type=solid][variant=warning][inverse=true i].gov-tag .element, [type=solid][variant=warning][inverse="1"].gov-tag .element {
  color: var(--gov-button-warning-solid-inverse-color, var(--gov-color-warning));
  background-color: var(--gov-button-warning-solid-inverse-bg, var(--gov-color-warning-200));
}
[type=solid][variant=warning][inverse=""].gov-tag .element:focus-visible, [type=solid][variant=warning][inverse=true i].gov-tag .element:focus-visible, [type=solid][variant=warning][inverse="1"].gov-tag .element:focus-visible {
  background-color: var(--gov-button-warning-solid-inverse-focus-bg, var(--gov-color-neutral-white));
}
[type=solid][variant=warning][disabled=""].gov-tag .element, [type=solid][variant=warning][disabled=true i].gov-tag .element, [type=solid][variant=warning][disabled="1"].gov-tag .element {
  background-color: var(--gov-button-warning-solid-disabled-bg, var(--gov-color-warning-200));
  color: var(--gov-button-warning-solid-disabled-color, var(--gov-color-neutral-white));
}
[type=solid][variant=warning][disabled=""][inverse=""].gov-tag .element, [type=solid][variant=warning][disabled=""][inverse=true i].gov-tag .element, [type=solid][variant=warning][disabled=""][inverse="1"].gov-tag .element, [type=solid][variant=warning][disabled=true i][inverse=""].gov-tag .element, [type=solid][variant=warning][disabled=true i][inverse=true i].gov-tag .element, [type=solid][variant=warning][disabled=true i][inverse="1"].gov-tag .element, [type=solid][variant=warning][disabled="1"][inverse=""].gov-tag .element, [type=solid][variant=warning][disabled="1"][inverse=true i].gov-tag .element, [type=solid][variant=warning][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-warning-solid-inverse-disabled-bg, var(--gov-color-warning-300));
  color: var(--gov-button-warning-solid-inverse-disabled-color, var(--gov-color-warning-400));
}
@media not all and (pointer: coarse) {
  [type=solid][variant=warning][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-warning-solid-hover-bg, var(--gov-color-warning-600));
    color: var(--gov-button-warning-solid-hover-color, var(--gov-color-neutral-white));
  }
  [type=solid][variant=warning][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-warning-solid-active-bg, var(--gov-color-warning-700));
  }
}
@media not all and (pointer: coarse) {
  [type=solid][variant=warning][hoverable][inverse=""].gov-tag .element:hover, [type=solid][variant=warning][hoverable][inverse=true i].gov-tag .element:hover, [type=solid][variant=warning][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-warning-solid-inverse-hover-bg, var(--gov-color-warning-700));
    color: var(--gov-button-warning-solid-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=solid][variant=warning][hoverable][inverse=""].gov-tag .element:hover:active, [type=solid][variant=warning][hoverable][inverse=true i].gov-tag .element:hover:active, [type=solid][variant=warning][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-warning-solid-inverse-active-bg, var(--gov-color-warning-800));
  }
}
[type=outlined][variant=warning].gov-tag .element {
  color: var(--gov-button-warning-outlined-color, var(--gov-color-warning-500));
  border-color: var(--gov-button-warning-outlined-border, var(--gov-color-warning-500));
}
[type=outlined][variant=warning][inverse=""].gov-tag .element, [type=outlined][variant=warning][inverse=true i].gov-tag .element, [type=outlined][variant=warning][inverse="1"].gov-tag .element {
  color: var(--gov-button-warning-outlined-inverse-color, var(--gov-color-neutral-white));
  background-color: var(--gov-button-warning-outlined-inverse-bg, transparent);
  border-color: var(--gov-button-warning-outlined-inverse-border, var(--gov-color-neutral-white));
}
[type=outlined][variant=warning][inverse=""].gov-tag .element:focus-visible, [type=outlined][variant=warning][inverse=true i].gov-tag .element:focus-visible, [type=outlined][variant=warning][inverse="1"].gov-tag .element:focus-visible {
  background-color: var(--gov-button-warning-outlined-inverse-focus-bg, transparent);
}
[type=outlined][variant=warning][disabled=""].gov-tag .element, [type=outlined][variant=warning][disabled=true i].gov-tag .element, [type=outlined][variant=warning][disabled="1"].gov-tag .element {
  background-color: var(--gov-button-warning-outlined-disabled-bg, transparent);
  color: var(--gov-button-warning-outlined-disabled-color, var(--gov-color-warning));
  border-color: var(--gov-button-warning-outlined-disabled-border, var(--gov-color-warning));
}
[type=outlined][variant=warning][disabled=""][inverse=""].gov-tag .element, [type=outlined][variant=warning][disabled=""][inverse=true i].gov-tag .element, [type=outlined][variant=warning][disabled=""][inverse="1"].gov-tag .element, [type=outlined][variant=warning][disabled=true i][inverse=""].gov-tag .element, [type=outlined][variant=warning][disabled=true i][inverse=true i].gov-tag .element, [type=outlined][variant=warning][disabled=true i][inverse="1"].gov-tag .element, [type=outlined][variant=warning][disabled="1"][inverse=""].gov-tag .element, [type=outlined][variant=warning][disabled="1"][inverse=true i].gov-tag .element, [type=outlined][variant=warning][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-warning-outlined-inverse-disabled-bg, var(--gov-color-warning-300));
  color: var(--gov-button-warning-outlined-inverse-disabled-color, var(--gov-color-warning-400));
  border-color: var(--gov-button-warning-outlined-inverse-disabled-border-color, var(--gov-color-warning-400));
}
@media not all and (pointer: coarse) {
  [type=outlined][variant=warning][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-warning-outlined-hover-bg, var(--gov-color-warning-200));
    color: var(--gov-button-warning-outlined-hover-color, var(--gov-color-warning-500));
  }
  [type=outlined][variant=warning][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-warning-outlined-active-bg, var(--gov-color-warning-300));
  }
}
@media not all and (pointer: coarse) {
  [type=outlined][variant=warning][hoverable][inverse=""].gov-tag .element:hover, [type=outlined][variant=warning][hoverable][inverse=true i].gov-tag .element:hover, [type=outlined][variant=warning][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-warning-outlined-inverse-hover-bg, var(--gov-color-warning-500));
    color: var(--gov-button-warning-outlined-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=outlined][variant=warning][hoverable][inverse=""].gov-tag .element:hover:active, [type=outlined][variant=warning][hoverable][inverse=true i].gov-tag .element:hover:active, [type=outlined][variant=warning][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-warning-outlined-inverse-active-bg, var(--gov-color-warning-400));
  }
}
[type=base][variant=warning].gov-tag .element {
  color: var(--gov-button-warning-base-color, var(--gov-color-warning-500));
}
[type=base][variant=warning][inverse=""].gov-tag .element, [type=base][variant=warning][inverse=true i].gov-tag .element, [type=base][variant=warning][inverse="1"].gov-tag .element {
  color: var(--gov-button-warning-base-inverse-color, var(--gov-color-neutral-white));
  background-color: var(--gov-button-warning-base-inverse-bg, transparent);
}
[type=base][variant=warning][disabled=""].gov-tag .element, [type=base][variant=warning][disabled=true i].gov-tag .element, [type=base][variant=warning][disabled="1"].gov-tag .element {
  color: var(--gov-button-warning-base-disabled-color, var(--gov-color-warning));
}
[type=base][variant=warning][disabled=""][inverse=""].gov-tag .element, [type=base][variant=warning][disabled=""][inverse=true i].gov-tag .element, [type=base][variant=warning][disabled=""][inverse="1"].gov-tag .element, [type=base][variant=warning][disabled=true i][inverse=""].gov-tag .element, [type=base][variant=warning][disabled=true i][inverse=true i].gov-tag .element, [type=base][variant=warning][disabled=true i][inverse="1"].gov-tag .element, [type=base][variant=warning][disabled="1"][inverse=""].gov-tag .element, [type=base][variant=warning][disabled="1"][inverse=true i].gov-tag .element, [type=base][variant=warning][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-warning-base-inverse-disabled-bg, var(--gov-color-warning-300));
  color: var(--gov-button-warning-base-inverse-disabled-color, var(--gov-color-warning-400));
}
@media not all and (pointer: coarse) {
  [type=base][variant=warning][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-warning-base-hover-bg, var(--gov-color-warning-200));
    color: var(--gov-button-warning-base-hover-color, var(--gov-color-warning-500));
  }
  [type=base][variant=warning][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-warning-base-active-bg, var(--gov-color-warning-300));
  }
}
@media not all and (pointer: coarse) {
  [type=base][variant=warning][hoverable][inverse=""].gov-tag .element:hover, [type=base][variant=warning][hoverable][inverse=true i].gov-tag .element:hover, [type=base][variant=warning][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-warning-base-inverse-hover-bg, var(--gov-color-warning-500));
    color: var(--gov-button-warning-base-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=base][variant=warning][hoverable][inverse=""].gov-tag .element:hover:active, [type=base][variant=warning][hoverable][inverse=true i].gov-tag .element:hover:active, [type=base][variant=warning][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-warning-base-inverse-active-bg, var(--gov-color-warning-400));
    color: var(--gov-button-warning-base-inverse-active-color, var(--gov-color-neutral-white));
  }
}
[type=link][variant=warning].gov-tag .element {
  color: var(--gov-button-warning-link-color, var(--gov-color-warning-500));
}
[type=link][variant=warning][inverse=""].gov-tag .element, [type=link][variant=warning][inverse=true i].gov-tag .element, [type=link][variant=warning][inverse="1"].gov-tag .element {
  color: var(--gov-button-warning-link-inverse-color, var(--gov-color-neutral-white));
  background-color: var(--gov-button-warning-link-inverse-bg, transparent);
}
[type=link][variant=warning][disabled=""].gov-tag .element, [type=link][variant=warning][disabled=true i].gov-tag .element, [type=link][variant=warning][disabled="1"].gov-tag .element {
  color: var(--gov-button-warning-link-disabled-color, var(--gov-color-warning));
}
[type=link][variant=warning][disabled=""][inverse=""].gov-tag .element, [type=link][variant=warning][disabled=""][inverse=true i].gov-tag .element, [type=link][variant=warning][disabled=""][inverse="1"].gov-tag .element, [type=link][variant=warning][disabled=true i][inverse=""].gov-tag .element, [type=link][variant=warning][disabled=true i][inverse=true i].gov-tag .element, [type=link][variant=warning][disabled=true i][inverse="1"].gov-tag .element, [type=link][variant=warning][disabled="1"][inverse=""].gov-tag .element, [type=link][variant=warning][disabled="1"][inverse=true i].gov-tag .element, [type=link][variant=warning][disabled="1"][inverse="1"].gov-tag .element {
  background-color: var(--gov-button-warning-link-inverse-disabled-bg, transparent);
  color: var(--gov-button-warning-link-inverse-disabled-color, var(--gov-color-warning-400));
}
@media not all and (pointer: coarse) {
  [type=link][variant=warning][hoverable].gov-tag .element:hover {
    background-color: var(--gov-button-warning-link-hover-bg, transparent);
    color: var(--gov-button-warning-link-hover-color, var(--gov-color-warning-500));
  }
  [type=link][variant=warning][hoverable].gov-tag .element:hover:active {
    background-color: var(--gov-button-warning-link-active-bg, transparent);
    color: var(--gov-button-primary-link-active-color, var(--gov-color-warning-600));
  }
}
@media not all and (pointer: coarse) {
  [type=link][variant=warning][hoverable][inverse=""].gov-tag .element:hover, [type=link][variant=warning][hoverable][inverse=true i].gov-tag .element:hover, [type=link][variant=warning][hoverable][inverse="1"].gov-tag .element:hover {
    background-color: var(--gov-button-warning-link-inverse-hover-bg, transparent);
    color: var(--gov-button-warning-link-inverse-hover-color, var(--gov-color-neutral-white));
  }
  [type=link][variant=warning][hoverable][inverse=""].gov-tag .element:hover:active, [type=link][variant=warning][hoverable][inverse=true i].gov-tag .element:hover:active, [type=link][variant=warning][hoverable][inverse="1"].gov-tag .element:hover:active {
    background-color: var(--gov-button-warning-link-inverse-active-bg, transparent);
    color: var(--gov-button-warning-link-inverse-active-color, var(--gov-color-neutral-white));
  }
}
[size=xs].gov-tag .element {
  font-weight: var(--gov-button-text-xs-font-weight, var(--gov-text-xs-font-weight));
  font-size: var(--gov-button-text-xs-font-size, var(--gov-text-xs-font-size));
  line-height: var(--gov-button-text-xs-line-height, var(--gov-text-xs-line-height));
  letter-spacing: var(--gov-button-text-xs-letter-spacing, var(--gov-text-xs-letter-spacing));
  -moz-column-gap: var(--gov-button-xs-padding-x, 0.625rem);
       column-gap: var(--gov-button-xs-padding-x, 0.625rem);
  min-height: var(--gov-button-xs-min-height, 1.5rem);
  padding: var(--gov-button-xs-padding-y, 0.125rem) var(--gov-button-xs-padding-x, 0.625rem);
}
[size=xs].gov-tag .element .gov-icon {
  width: var(--gov-button-xs-icon-size, 1rem);
  height: var(--gov-button-xs-icon-size, 1rem);
}
[size=s].gov-tag .element {
  font-weight: var(--gov-button-text-xs-font-weight, var(--gov-text-xs-font-weight));
  font-size: var(--gov-button-text-xs-font-size, var(--gov-text-xs-font-size));
  line-height: var(--gov-button-text-xs-line-height, var(--gov-text-xs-line-height));
  letter-spacing: var(--gov-button-text-xs-letter-spacing, var(--gov-text-xs-letter-spacing));
  -moz-column-gap: var(--gov-button-s-padding-x, 0.75rem);
       column-gap: var(--gov-button-s-padding-x, 0.75rem);
  min-height: var(--gov-button-s-min-height, 2rem);
  padding: var(--gov-button-s-padding-y, 0.25rem) var(--gov-button-s-padding-x, 0.75rem);
}
[size=s].gov-tag .element .gov-icon {
  width: var(--gov-button-s-icon-size, 1rem);
  height: var(--gov-button-s-icon-size, 1rem);
}
[size=m].gov-tag .element {
  font-weight: var(--gov-button-text-s-font-weight, var(--gov-text-s-font-weight));
  font-size: var(--gov-button-text-s-font-size, var(--gov-text-s-font-size));
  line-height: var(--gov-button-text-s-line-height, var(--gov-text-s-line-height));
  letter-spacing: var(--gov-button-text-s-letter-spacing, var(--gov-text-s-letter-spacing));
  -moz-column-gap: var(--gov-button-m-padding-x, 0.75rem);
       column-gap: var(--gov-button-m-padding-x, 0.75rem);
  min-height: var(--gov-button-m-min-height, 2.5rem);
  padding: var(--gov-button-m-padding-y, 0.375rem) var(--gov-button-m-padding-x, 0.75rem);
}
[size=m].gov-tag .element .gov-icon {
  width: var(--gov-button-m-icon-size, 1.25rem);
  height: var(--gov-button-m-icon-size, 1.25rem);
}
[size=l].gov-tag .element {
  font-weight: var(--gov-button-text-m-font-weight, var(--gov-text-m-font-weight));
  font-size: var(--gov-button-text-m-font-size, var(--gov-text-m-font-size));
  line-height: var(--gov-button-text-m-line-height, var(--gov-text-m-line-height));
  letter-spacing: var(--gov-button-text-m-letter-spacing, var(--gov-text-m-letter-spacing));
  -moz-column-gap: var(--gov-button-l-padding-x, 1rem);
       column-gap: var(--gov-button-l-padding-x, 1rem);
  min-height: var(--gov-button-l-min-height, 3rem);
  padding: var(--gov-button-l-padding-y, 0.5rem) var(--gov-button-l-padding-x, 1rem);
}
[size=l].gov-tag .element .gov-icon {
  width: var(--gov-button-l-icon-size, 1.5rem);
  height: var(--gov-button-l-icon-size, 1.5rem);
}
[size=xl].gov-tag .element {
  font-weight: var(--gov-button-text-xl-font-weight, var(--gov-text-xl-font-weight));
  font-size: var(--gov-button-text-xl-font-size, var(--gov-text-xl-font-size));
  line-height: var(--gov-button-text-xl-line-height, var(--gov-text-xl-line-height));
  letter-spacing: var(--gov-button-text-xl-letter-spacing, var(--gov-text-xl-letter-spacing));
  -moz-column-gap: var(--gov-button-xl-padding-x, 1.25rem);
       column-gap: var(--gov-button-xl-padding-x, 1.25rem);
  min-height: var(--gov-button-xl-min-height, 3.5rem);
  padding: var(--gov-button-xl-padding-y, 0.75rem) var(--gov-button-xl-padding-x, 1.25rem);
}
[size=xl].gov-tag .element .gov-icon {
  width: var(--gov-button-xl-icon-size, 1.75rem);
  height: var(--gov-button-xl-icon-size, 1.75rem);
}

.gov-tag {
  display: inline-flex;
}
.gov-tag a .gov-icon {
  margin: 0;
}
.gov-tag .element {
  padding: 0.25rem 0.5rem;
  font-family: var(--gov-font-family, "Roboto", sans-serif);
  font-weight: 400;
  letter-spacing: initial;
}
.gov-tag .gov-button .element {
  border: none;
}
.gov-tag[size=xs] .element {
  border-radius: var(--gov-tag-radius, 0.25rem);
  -moz-column-gap: var(--gov-tag-gap, 0.5rem);
       column-gap: var(--gov-tag-gap, 0.5rem);
}
.gov-tag[size=xs][hoverable] .element:focus {
  outline: none;
}
.gov-tag[size=xs][hoverable] .element:focus-visible {
  border-radius: var(--gov-tag-radius, 0.25rem);
  outline: var(--gov-outline-width, 0.125rem) solid var(--gov-color-focus-base);
  outline-offset: 0.0625rem;
}
.gov-tag[size=s] .element {
  border-radius: var(--gov-tag-radius, 0.25rem);
  -moz-column-gap: var(--gov-tag-gap, 0.5rem);
       column-gap: var(--gov-tag-gap, 0.5rem);
}
.gov-tag[size=s][hoverable] .element:focus {
  outline: none;
}
.gov-tag[size=s][hoverable] .element:focus-visible {
  border-radius: var(--gov-tag-radius, 0.25rem);
  outline: var(--gov-outline-width, 0.125rem) solid var(--gov-color-focus-base);
  outline-offset: 0.0625rem;
}
.gov-tag[size=m] .element {
  border-radius: var(--gov-tag-radius, 0.25rem);
  -moz-column-gap: var(--gov-tag-gap, 0.5rem);
       column-gap: var(--gov-tag-gap, 0.5rem);
}
.gov-tag[size=m][hoverable] .element:focus {
  outline: none;
}
.gov-tag[size=m][hoverable] .element:focus-visible {
  border-radius: var(--gov-tag-radius, 0.25rem);
  outline: var(--gov-outline-width, 0.125rem) solid var(--gov-color-focus-base);
  outline-offset: 0.0625rem;
}
.gov-tag[size=l] .element {
  border-radius: var(--gov-tag-radius, 0.25rem);
  -moz-column-gap: var(--gov-tag-gap, 0.5rem);
       column-gap: var(--gov-tag-gap, 0.5rem);
}
.gov-tag[size=l][hoverable] .element:focus {
  outline: none;
}
.gov-tag[size=l][hoverable] .element:focus-visible {
  border-radius: var(--gov-tag-radius, 0.25rem);
  outline: var(--gov-outline-width, 0.125rem) solid var(--gov-color-focus-base);
  outline-offset: 0.0625rem;
}
.gov-tag[size=xl] .element {
  border-radius: var(--gov-tag-radius, 0.25rem);
  -moz-column-gap: var(--gov-tag-gap, 0.5rem);
       column-gap: var(--gov-tag-gap, 0.5rem);
}
.gov-tag[size=xl][hoverable] .element:focus {
  outline: none;
}
.gov-tag[size=xl][hoverable] .element:focus-visible {
  border-radius: var(--gov-tag-radius, 0.25rem);
  outline: var(--gov-outline-width, 0.125rem) solid var(--gov-color-focus-base);
  outline-offset: 0.0625rem;
}
.gov-tag[type=solid][variant=warning] .element {
  background-color: var(--gov-button-warning-solid-bg, var(--gov-color-warning-400));
  color: var(--gov-button-warning-solid-color, var(--gov-color-neutral-black));
}
.gov-tag[variant=primary][inverse=""] .element,
.gov-tag[variant=primary][inverse=""] .element .element, .gov-tag[variant=primary][inverse=true i] .element,
.gov-tag[variant=primary][inverse=true i] .element .element, .gov-tag[variant=primary][inverse="1"] .element,
.gov-tag[variant=primary][inverse="1"] .element .element {
  border-width: 0.0625rem;
  border-color: var(--gov-chip-inverse-primary-border-color, var(--gov-color-primary-200));
  background-color: var(--gov-chip-inverse-primary-bg, var(--gov-color-primary-100));
  color: var(--gov-chip-inverse-primary-color, var(--gov-color-primary));
}
@media not all and (pointer: coarse) {
  .gov-tag[variant=primary][inverse=""] .element:hover,
  .gov-tag[variant=primary][inverse=""] .element .element:hover, .gov-tag[variant=primary][inverse=true i] .element:hover,
  .gov-tag[variant=primary][inverse=true i] .element .element:hover, .gov-tag[variant=primary][inverse="1"] .element:hover,
  .gov-tag[variant=primary][inverse="1"] .element .element:hover {
    border-color: var(--gov-chip-inverse-primary-border-color-hover, var(--gov-color-primary-200));
  }
}
.gov-tag[variant=secondary][inverse=""] .element,
.gov-tag[variant=secondary][inverse=""] .element .element, .gov-tag[variant=secondary][inverse=true i] .element,
.gov-tag[variant=secondary][inverse=true i] .element .element, .gov-tag[variant=secondary][inverse="1"] .element,
.gov-tag[variant=secondary][inverse="1"] .element .element {
  border-width: 0.0625rem;
  border-color: var(--gov-chip-inverse-secondary-border-color, var(--gov-color-secondary-400));
  background-color: var(--gov-chip-inverse-secondary-bg, var(--gov-color-secondary-200));
  color: var(--gov-chip-inverse-secondary-color, var(--gov-color-secondary-900));
}
@media not all and (pointer: coarse) {
  .gov-tag[variant=secondary][inverse=""] .element:hover,
  .gov-tag[variant=secondary][inverse=""] .element .element:hover, .gov-tag[variant=secondary][inverse=true i] .element:hover,
  .gov-tag[variant=secondary][inverse=true i] .element .element:hover, .gov-tag[variant=secondary][inverse="1"] .element:hover,
  .gov-tag[variant=secondary][inverse="1"] .element .element:hover {
    border-color: var(--gov-chip-inverse-secondary-border-color-hover, var(--gov-color-secondary-400));
  }
}
.gov-tag[variant=success][inverse=""] .element,
.gov-tag[variant=success][inverse=""] .element .element, .gov-tag[variant=success][inverse=true i] .element,
.gov-tag[variant=success][inverse=true i] .element .element, .gov-tag[variant=success][inverse="1"] .element,
.gov-tag[variant=success][inverse="1"] .element .element {
  border-width: 0.0625rem;
  border-color: var(--gov-chip-inverse-success-border-color, var(--gov-color-success-200));
  background-color: var(--gov-chip-inverse-success-bg, var(--gov-color-success-100));
  color: var(--gov-chip-inverse-success-color, var(--gov-color-success-600));
}
@media not all and (pointer: coarse) {
  .gov-tag[variant=success][inverse=""] .element:hover,
  .gov-tag[variant=success][inverse=""] .element .element:hover, .gov-tag[variant=success][inverse=true i] .element:hover,
  .gov-tag[variant=success][inverse=true i] .element .element:hover, .gov-tag[variant=success][inverse="1"] .element:hover,
  .gov-tag[variant=success][inverse="1"] .element .element:hover {
    border-color: var(--gov-chip-inverse-success-border-color-hover, var(--gov-color-success-200));
  }
}
.gov-tag[variant=warning][inverse=""] .element,
.gov-tag[variant=warning][inverse=""] .element .element, .gov-tag[variant=warning][inverse=true i] .element,
.gov-tag[variant=warning][inverse=true i] .element .element, .gov-tag[variant=warning][inverse="1"] .element,
.gov-tag[variant=warning][inverse="1"] .element .element {
  border-width: 0.0625rem;
  border-color: var(--gov-chip-inverse-warning-border-color, var(--gov-color-warning-200));
  background-color: var(--gov-chip-inverse-warning-bg, var(--gov-color-warning-100));
  color: var(--gov-chip-inverse-warning-color, var(--gov-color-warning-600));
}
@media not all and (pointer: coarse) {
  .gov-tag[variant=warning][inverse=""] .element:hover,
  .gov-tag[variant=warning][inverse=""] .element .element:hover, .gov-tag[variant=warning][inverse=true i] .element:hover,
  .gov-tag[variant=warning][inverse=true i] .element .element:hover, .gov-tag[variant=warning][inverse="1"] .element:hover,
  .gov-tag[variant=warning][inverse="1"] .element .element:hover {
    border-color: var(--gov-chip-inverse-warning-border-color-hover, var(--gov-color-warning-200));
  }
}
.gov-tag[variant=error][inverse=""] .element,
.gov-tag[variant=error][inverse=""] .element .element, .gov-tag[variant=error][inverse=true i] .element,
.gov-tag[variant=error][inverse=true i] .element .element, .gov-tag[variant=error][inverse="1"] .element,
.gov-tag[variant=error][inverse="1"] .element .element {
  border-width: 0.0625rem;
  border-color: var(--gov-chip-inverse-error-border-color, var(--gov-color-error-200));
  background-color: var(--gov-chip-inverse-error-bg, var(--gov-color-error-100));
  color: var(--gov-chip-inverse-error-color, var(--gov-color-error-500));
}
@media not all and (pointer: coarse) {
  .gov-tag[variant=error][inverse=""] .element:hover,
  .gov-tag[variant=error][inverse=""] .element .element:hover, .gov-tag[variant=error][inverse=true i] .element:hover,
  .gov-tag[variant=error][inverse=true i] .element .element:hover, .gov-tag[variant=error][inverse="1"] .element:hover,
  .gov-tag[variant=error][inverse="1"] .element .element:hover {
    border-color: var(--gov-chip-inverse-error-border-color-hover, var(--gov-color-error-200));
  }
}