.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-control-group {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: var(--gov-control-group-border-radius, 0.25rem);
}
.gov-control-group .element *,
.gov-control-group .gov-button .element {
  border: none !important;
  border-radius: 0;
}
.gov-control-group[variant=primary] {
  border: var(--gov-control-group-border-primary, 0.0625rem solid var(--gov-color-primary-600));
}
.gov-control-group[variant=primary] > * {
  border-right: var(--gov-control-group-border-primary, 0.0625rem solid var(--gov-color-primary-600));
}
.gov-control-group[variant=secondary] {
  border: var(--gov-control-group-border-secondary, 0.0625rem solid var(--gov-color-secondary-700));
}
.gov-control-group[variant=secondary] > * {
  border-right: var(--gov-control-group-border-secondary, 0.0625rem solid var(--gov-color-secondary-700));
}
.gov-control-group[variant=success] {
  border: var(--gov-control-group-border-success, 0.0625rem solid var(--gov-color-success-500));
}
.gov-control-group[variant=success] > * {
  border-right: var(--gov-control-group-border-success, 0.0625rem solid var(--gov-color-success-500));
}
.gov-control-group[variant=warning] {
  border: var(--gov-control-group-border-warning, 0.0625rem solid var(--gov-color-warning-500));
}
.gov-control-group[variant=warning] > * {
  border-right: var(--gov-control-group-border-warning, 0.0625rem solid var(--gov-color-warning-500));
}
.gov-control-group[variant=error] {
  border: var(--gov-control-group-border-error, 0.0625rem solid var(--gov-color-error-400));
}
.gov-control-group[variant=error] > * {
  border-right: var(--gov-control-group-border-error, 0.0625rem solid var(--gov-color-error-400));
}
.gov-control-group > *:last-child {
  border-right: none;
}
.gov-control-group.no-border > * {
  border-right: none;
}