.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-statsbar-item {
  position: relative;
  display: block;
  padding: 1.25rem;
}
.gov-statsbar-item__icon, .gov-statsbar-item__number {
  margin-bottom: 1rem;
}
.gov-statsbar-item__icon, .gov-statsbar-item__icon .gov-icon {
  display: block;
  width: 2rem;
  height: 2rem;
}
.gov-statsbar-item__number {
  font-weight: var(--gov-text-5xl-font-weight);
  font-size: var(--gov-text-5xl-font-size);
  line-height: var(--gov-text-5xl-line-height);
  letter-spacing: var(--gov-text-5xl-letter-spacing);
}
.gov-statsbar-item__text {
  font-weight: var(--gov-text-xl-font-weight);
  font-size: var(--gov-text-xl-font-size);
  line-height: var(--gov-text-xl-line-height);
  letter-spacing: var(--gov-text-xl-letter-spacing);
  letter-spacing: 0.0125em;
}
.gov-statsbar-item__text > *:last-child {
  margin-bottom: 0;
}
.gov-statsbar-item[icon-position=left] {
  padding-left: 3rem;
}
.gov-statsbar-item[icon-position=left] .gov-statsbar-item__icon {
  position: absolute;
  top: 1.5rem;
  left: 0;
}
@media (min-width: 30em) {
  .gov-statsbar-item {
    flex: 1 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 48em) {
  .gov-statsbar-item {
    padding: 2.5rem;
  }
  .gov-statsbar-item__icon, .gov-statsbar-item__icon .gov-icon {
    width: 3rem;
    height: 3rem;
  }
  .gov-statsbar-item[icon-position=left] {
    padding-left: 4rem;
  }
  .gov-statsbar-item[icon-position=left] .gov-statsbar-item__icon {
    top: 2.75rem;
  }
}
@media (min-width: 64em) {
  .gov-statsbar-item {
    flex-basis: auto;
    max-width: 25%;
  }
}