:root,
:host {
  --gov-color-primary: #2362a2;
  --gov-color-secondary: #3b3b3b;
  --gov-color-success: #6fbd2c;
  --gov-color-warning: #f9c13c;
  --gov-color-error: #c52a3a;
  --gov-color-primary-100-rgb: 236, 247, 255;
  --gov-color-primary-100: #ecf7ff;
  --gov-color-primary-200-rgb: 217, 239, 255;
  --gov-color-primary-200: #d9efff;
  --gov-color-primary-300-rgb: 181, 217, 243;
  --gov-color-primary-300: #b5d9f3;
  --gov-color-primary-400-rgb: 102, 161, 216;
  --gov-color-primary-400: #66a1d8;
  --gov-color-primary-500-rgb: 48, 119, 183;
  --gov-color-primary-500: #3077b7;
  --gov-color-primary-600-rgb: 35, 98, 162;
  --gov-color-primary-600: #2362a2;
  --gov-color-primary-700-rgb: 37, 78, 128;
  --gov-color-primary-700: #254e80;
  --gov-color-primary-800-rgb: 21, 53, 94;
  --gov-color-primary-800: #15355e;
  --gov-color-primary-900-rgb: 13, 33, 58;
  --gov-color-primary-900: #0d213a;
  --gov-color-secondary-100-rgb: 252, 252, 252;
  --gov-color-secondary-100: #fcfcfc;
  --gov-color-secondary-200-rgb: 250, 250, 250;
  --gov-color-secondary-200: #fafafa;
  --gov-color-secondary-300-rgb: 245, 245, 245;
  --gov-color-secondary-300: #f5f5f5;
  --gov-color-secondary-400-rgb: 234, 234, 234;
  --gov-color-secondary-400: #eaeaea;
  --gov-color-secondary-500-rgb: 221, 221, 221;
  --gov-color-secondary-500: #dddddd;
  --gov-color-secondary-600-rgb: 168, 168, 168;
  --gov-color-secondary-600: #a8a8a8;
  --gov-color-secondary-700-rgb: 104, 104, 104;
  --gov-color-secondary-700: #686868;
  --gov-color-secondary-800-rgb: 59, 59, 59;
  --gov-color-secondary-800: #3b3b3b;
  --gov-color-secondary-900-rgb: 35, 35, 35;
  --gov-color-secondary-900: #232323;
  --gov-color-success-100-rgb: 245, 250, 240;
  --gov-color-success-100: #f5faf0;
  --gov-color-success-200-rgb: 220, 239, 204;
  --gov-color-success-200: #dcefcc;
  --gov-color-success-300-rgb: 163, 213, 120;
  --gov-color-success-300: #a3d578;
  --gov-color-success-400-rgb: 111, 189, 44;
  --gov-color-success-400: #6fbd2c;
  --gov-color-success-500-rgb: 72, 133, 21;
  --gov-color-success-500: #488515;
  --gov-color-success-600-rgb: 58, 98, 23;
  --gov-color-success-600: #3a6217;
  --gov-color-success-700-rgb: 44, 79, 13;
  --gov-color-success-700: #2c4f0d;
  --gov-color-warning-100-rgb: 254, 249, 239;
  --gov-color-warning-100: #fef9ef;
  --gov-color-warning-200-rgb: 250, 236, 200;
  --gov-color-warning-200: #faecc8;
  --gov-color-warning-300-rgb: 250, 212, 123;
  --gov-color-warning-300: #fad47b;
  --gov-color-warning-400-rgb: 249, 193, 60;
  --gov-color-warning-400: #f9c13c;
  --gov-color-warning-500-rgb: 199, 131, 0;
  --gov-color-warning-500: #c78300;
  --gov-color-warning-600-rgb: 153, 98, 15;
  --gov-color-warning-600: #99620f;
  --gov-color-warning-700-rgb: 134, 81, 2;
  --gov-color-warning-700: #865102;
  --gov-color-error-100-rgb: 255, 232, 234;
  --gov-color-error-100: #ffe8ea;
  --gov-color-error-200-rgb: 247, 205, 210;
  --gov-color-error-200: #f7cdd2;
  --gov-color-error-300-rgb: 217, 102, 113;
  --gov-color-error-300: #d96671;
  --gov-color-error-400-rgb: 197, 42, 58;
  --gov-color-error-400: #c52a3a;
  --gov-color-error-500-rgb: 158, 6, 21;
  --gov-color-error-500: #9e0615;
  --gov-color-error-600-rgb: 131, 7, 19;
  --gov-color-error-600: #830713;
  --gov-color-focus-base-rgb: 0, 123, 255;
  --gov-color-focus-base: #007bff;
  --gov-color-neutral-black-rgb: 0, 0, 0;
  --gov-color-neutral-black: #000000;
  --gov-color-neutral-white-rgb: 255, 255, 255;
  --gov-color-neutral-white: #ffffff;
  --gov-box-shadow-unset: none;
  --gov-box-shadow-s: 0 0 0.75rem rgba(var(--gov-color-secondary-800-rgb), 0.16);
  --gov-box-shadow-m: 0 0 1.25rem rgba(var(--gov-color-secondary-800-rgb), 0.2);
  --gov-box-shadow-l: 0 0 1.5rem rgba(var(--gov-color-secondary-800-rgb), 0.24);
  --gov-box-shadow-xl: 0 0 2rem rgba(var(--gov-color-secondary-800-rgb), 0.32)
}
