:root,
:host {
  --gov-chip-inverse-primary-border-color: var(--gov-color-primary-200);
  --gov-chip-inverse-primary-bg: var(--gov-color-primary-100);
  --gov-chip-inverse-primary-color: var(--gov-color-primary);
  --gov-chip-inverse-primary-border-color-hover: var(--gov-color-primary-100);

  --gov-chip-inverse-secondary-border-color: var(--gov-color-secondary-400);
  --gov-chip-inverse-secondary-bg: var(--gov-color-secondary-200);
  --gov-chip-inverse-secondary-color: var(--gov-color-secondary-900);
  --gov-chip-inverse-secondary-border-color-hover: var(--gov-color-secondary-400);

  --gov-chip-inverse-success-border-color: var(--gov-color-success-200);
  --gov-chip-inverse-success-bg: var(--gov-color-success-100);
  --gov-chip-inverse-success-color: var(--gov-color-success-600);
  --gov-chip-inverse-success-border-color-hover: var(--gov-color-success-100);

  --gov-chip-inverse-warning-border-color: var(--gov-color-warning-200);
  --gov-chip-inverse-warning-bg: var(--gov-color-warning-100);
  --gov-chip-inverse-warning-color: var(--gov-color-warning-600);
  --gov-chip-inverse-warning-border-color-hover: var(--gov-color-warning-100);

  --gov-chip-inverse-error-border-color: var(--gov-color-error-200);
  --gov-chip-inverse-error-bg: var(--gov-color-error-100);
  --gov-chip-inverse-error-color: var(--gov-color-error-500);
  --gov-chip-inverse-error-border-color-hover: var(--gov-color-error-500);
}
