:root,
:host {
  --gov-modal-max-width: 52.5rem;
  --gov-modal-bg: var(--gov-color-neutral-white);
  --gov-modal-border-color: 0.0625rem solid var(--gov-color-secondary-500);
  --gov-modal-text-color: var(--gov-color-secondary-700);
  --gov-modal-prompt-max-width: 33.125rem;
}
