:root,
:host {
  --gov-tag-radius: 0.25rem;
  --gov-tag-gap: 0.5rem;
  --gov-tag-warning-solid-bg: var(--gov-color-warning-400);
  --gov-tag-warning-solid-color: var(--gov-color-neutral-black);

  --gov-tag-inverse-primary-border-color: var(--gov-color-primary-200);
  --gov-tag-inverse-primary-bg: var(--gov-color-primary-100);
  --gov-tag-inverse-primary-color: var(--gov-color-primary);
  --gov-tag-inverse-primary-border-color-hover: var(--gov-color-primary-200);

  --gov-tag-inverse-secondary-border-color: var(--gov-color-secondary-400);
  --gov-tag-inverse-secondary-bg: var(--gov-color-secondary-200);
  --gov-tag-inverse-secondary-color: var(--gov-color-secondary-900);
  --gov-tag-inverse-secondary-border-color-hover: var(--gov-color-secondary-400);

  --gov-tag-inverse-success-border-color: var(--gov-color-success-200);
  --gov-tag-inverse-success-bg: var(--gov-color-success-100);
  --gov-tag-inverse-success-color: var(--gov-color-success-600);
  --gov-tag-inverse-success-border-color-hover: var(--gov-color-success-200);

  --gov-tag-inverse-warning-border-color: var(--gov-color-warning-200);
  --gov-tag-inverse-warning-bg: var(--gov-color-warning-100);
  --gov-tag-inverse-warning-color: var(--gov-color-warning-600);
  --gov-tag-inverse-warning-border-color-hover: var(--gov-color-warning-200);

  --gov-tag-inverse-error-border-color: var(--gov-color-error-200);
  --gov-tag-inverse-error-bg: var(--gov-color-error-100);
  --gov-tag-inverse-error-color: var(--gov-color-error-500);
  --gov-tag-inverse-error-border-color-hover: var(--gov-color-error-200);
}
