.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-icon {
  display: inline-flex;
}
.gov-icon__holder {
  display: inline-flex;
  width: 100%;
  height: 100%;
}
.gov-icon__holder + .gov-icon__holder {
  display: none !important;
}
.gov-icon svg {
  display: inline-flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}