.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-attachments-item {
  position: relative;
  display: block;
  width: 100%;
  margin: 0rem 0rem 0.5rem;
}
.gov-attachments-item__messages > *:last-child {
  margin-bottom: 0;
}
.gov-attachments-item__file {
  display: flex;
  gap: 1rem;
}
.gov-attachments-item__name {
  display: flex;
  gap: 0 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  margin: 0;
  color: var(--gov-attachments-name-color, var(--gov-color-primary));
}
.gov-attachments-item__name span {
  font-weight: var(--gov-text-xs-font-weight);
  font-size: var(--gov-text-xs-font-size);
  line-height: var(--gov-text-xs-line-height);
  letter-spacing: var(--gov-text-xs-letter-spacing);
  color: var(--gov-attachments-decor-color, var(--gov-color-secondary-700));
}