.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-grid {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.gov-grid[align-x=middle] {
  align-items: center;
}
.gov-grid[align-x=bottom] {
  align-items: flex-end;
}
.gov-grid[align-y=center] {
  justify-content: center;
}
.gov-grid[align-y=right] {
  justify-content: flex-end;
}
.gov-grid[align-y=space-between] {
  justify-content: space-between;
}
.gov-grid[align-y=space-around] {
  justify-content: space-around;
}