.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-tooltip {
  display: inline-block;
  border-bottom: 1px dashed currentcolor;
  color: var(--gov-color-primary);
  cursor: help;
}
.gov-tooltip[icon=""], .gov-tooltip[icon=true i], .gov-tooltip[icon="1"] {
  border-bottom: 0;
}