.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-form-label {
  position: relative;
  display: flex;
  width: 100%;
}
.gov-form-label__label {
  display: inline-block;
  color: var(--gov-form-label-color, #686868);
  cursor: pointer;
  box-sizing: border-box;
}
.gov-form-label[legend=""] .gov-form-label__label, .gov-form-label[legend=true i] .gov-form-label__label, .gov-form-label[legend="1"] .gov-form-label__label {
  font-weight: var(--gov-text-l-font-weight);
  font-size: var(--gov-text-l-font-size);
  line-height: var(--gov-text-l-line-height);
  letter-spacing: var(--gov-text-l-letter-spacing);
  margin-bottom: 1rem;
  padding: 0;
  color: var(--gov-form-legend-color, #3b3b3b);
}