@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("../gov-design-system/gov-fonts/roboto-thin-italic-ext.woff2") format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("../gov-design-system/gov-fonts/roboto-thin-italic.woff2") format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../gov-design-system/gov-fonts/roboto-light-italic-ext.woff2") format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../gov-design-system/gov-fonts/roboto-light-italic.woff2") format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../gov-design-system/gov-fonts/roboto-italic-ext.woff2") format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../gov-design-system/gov-fonts/roboto-italic.woff2") format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../gov-design-system/gov-fonts/roboto-medium-italic-ext.woff2") format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../gov-design-system/gov-fonts/roboto-medium-italic.woff2") format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../gov-design-system/gov-fonts/roboto-bold-italic-ext.woff2") format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../gov-design-system/gov-fonts/roboto-bold-italic.woff2") format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../gov-design-system/gov-fonts/roboto-thin-ext.woff2") format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../gov-design-system/gov-fonts/roboto-thin.woff2") format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Light"), local("Roboto-Light"), url("../gov-design-system/gov-fonts/roboto-light-ext.woff2") format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Light"), local("Roboto-Light"), url("../gov-design-system/gov-fonts/roboto-light.woff2") format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url("../gov-design-system/gov-fonts/roboto-regular-ext.woff2") format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url("../gov-design-system/gov-fonts/roboto-regular.woff2") format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../gov-design-system/gov-fonts/roboto-medium-ext.woff2") format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../gov-design-system/gov-fonts/roboto-medium.woff2") format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../gov-design-system/gov-fonts/roboto-bold-ext.woff2") format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../gov-design-system/gov-fonts/roboto-bold.woff2") format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}
