.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-nav {
  position: relative;
  display: block;
  width: 100%;
  font-weight: var(--gov-text-s-font-weight);
  font-size: var(--gov-text-s-font-size);
  line-height: var(--gov-text-s-line-height);
  letter-spacing: var(--gov-text-s-letter-spacing);
  background: var(--gov-nav-bg, var(--gov-color-primary));
  font-weight: bold;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
}
@media (min-width: 48em) {
  .gov-nav {
    text-align: center;
  }
  .gov-nav__nav {
    display: flex;
    justify-content: space-between;
  }
}