.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-form-group {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.gov-form-group .gov-form-label__label {
  margin: 0;
}
.gov-form-group[orientation=horizontal] {
  flex-direction: row;
  flex-wrap: wrap;
}
.gov-form-group[orientation=horizontal] .gov-form-label__label {
  white-space: nowrap;
}
.gov-form-group[gap="2xs"] {
  gap: 0.25rem;
}
.gov-form-group[gap=xs] {
  gap: 0.5rem;
}
.gov-form-group[gap=s] {
  gap: 0.75rem;
}
.gov-form-group[gap=m] {
  gap: 1rem;
}
.gov-form-group[gap=l] {
  gap: 1.25rem;
}