.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
html,
body {
  margin: 0;
  padding: 0;
}

.container-view {
  padding: 12px;
}

hr {
  height: 0;
  border: 0 none;
  border-top: 1px solid gainsboro;
  font-size: 0;
}

hr.inversed {
  border-top-color: #254e80;
}