.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-loading {
  display: block;
}
.gov-loading__content {
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  min-width: 9.6875rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: var(--gov-loading-bg, rgba(var(--gov-color-secondary-400-rgb), 0.8));
  color: var(--gov-loading-color, var(--gov-color-primary));
  text-align: center;
  transform: translate(-50%, -50%);
}
.gov-loading__icon {
  width: 4rem;
  height: 4rem;
  line-height: 1;
}
.gov-loading__icon svg {
  width: 100%;
  height: 100%;
}