.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-spacer {
  position: relative;
  display: block;
  width: 100%;
}
.gov-spacer[size=unset] {
  height: 0;
}
.gov-spacer[size="2xs"] {
  height: 0.25rem;
}
.gov-spacer[size=xs] {
  height: 0.5rem;
}
.gov-spacer[size=s] {
  height: 0.75rem;
}
.gov-spacer[size=m] {
  height: 1rem;
}
.gov-spacer[size=l] {
  height: 1.25rem;
}
.gov-spacer[size=xl] {
  height: 1.75rem;
}
.gov-spacer[size="2xl"] {
  height: 2rem;
}
.gov-spacer[size="3xl"] {
  height: 3rem;
}
.gov-spacer[size="4xl"] {
  height: 4.5rem;
}
.gov-spacer[breakpoint=none] {
  display: none;
}
.gov-spacer[breakpoint=sm] {
  display: none;
}
@media (min-width: 30em) {
  .gov-spacer[breakpoint=sm] {
    display: block;
  }
}
.gov-spacer[breakpoint=md] {
  display: none;
}
@media (min-width: 48em) {
  .gov-spacer[breakpoint=md] {
    display: block;
  }
}
.gov-spacer[breakpoint=lg] {
  display: none;
}
@media (min-width: 64em) {
  .gov-spacer[breakpoint=lg] {
    display: block;
  }
}
.gov-spacer[breakpoint=xl] {
  display: none;
}
@media (min-width: 75em) {
  .gov-spacer[breakpoint=xl] {
    display: block;
  }
}